.container {
  max-width: 99%;
  padding: 0 13px;
  margin: 0 auto;
  max-width: 571px;
}

@include mobile-large {
  .container {
    max-width: 600px;
    margin: 0 auto;
  }
}

@include tablet {
  .container {
    max-width: 960px;
  }
}

@include desktop {
  .container {
    max-width: 1320px;
    margin: 0 auto;


  }
}

 

