.get {
  padding: 101px 0;
  background-color: black;

  .geth2 {
    color: white;
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    max-width: 400px;
  }

  &__Monthly {
    font-size: 24px;
    font-weight: 500;
    line-height: 29.05px;
    color: rgb(255, 255, 255);
  }

  &__year {
    color: #a19d9d;
  }

  &__bright {
    background-color: white;
    // padding: ;
  padding: 8px ;
  padding-right: 60px;
  border-radius: 99px;
    div {
        background-color: #A8FF35;
        width: 36px;
        height: 36px;
        border-radius: 99px;

    }
  }
}

.grid-container {
  
  display: grid;
  grid-template-columns: 1fr;
  gap: 5rem;
  padding: 2.5rem 0;
  justify-items: center;

  @media (min-width: 998px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: 1380px) {
    grid-template-columns: repeat(3, 1fr);
  }

  .card {
    width: 90%;
    max-width: 360px;
    height: 640px;
    border-radius: 16px;
    background-color: #FAFAFA;
    display: flex;
    flex-direction: column;
    padding-left: 2rem;
    justify-content: center;
    transition: background-color 0.3s;
    
    &:hover {
      background-color: #A8FF35;
    }

    .card-title {
      font-size: 36px;
      font-weight: normal;
      line-height: 36px;
      text-align: left;
      color: #000000;
      padding: 2rem 0;
    }

    .card-description {
      font-size: 18px;
      font-weight: normal;
      line-height: 18px;
      text-align: left;
      color: #000000;
    }

    .card-price-container {
      display: flex;
      gap: 0.5rem;
      align-items: center;

      .card-price {
        font-size: 64px;
        font-weight: normal;
        line-height: 64px;
        text-align: left;
        color: #000000;
        padding: 2rem 0;
      }

      .card-price-sub {
        font-size: 18px;
        font-weight: normal;
        line-height: 18px;
        text-align: left;
      }
    }

    .card-feature {
      display: flex;
      gap: 0.5rem;
      align-items: center;
      padding: 1.75rem 0;

      img {
        display: block;
      }

      .feature-text {
        font-size: 18px;
        font-weight: normal;
        line-height: 18px;
        color: #000000;
      }
    }

    .card-button {
      width: 296px;
      height: 58px;
      background-color: #A8FF35;
      border-radius: 29px;
      border: 2px solid transparent;
      transition: all 0.3s;
      font-size: 18px;
      font-weight: bold;
      color: #000000;

      &:hover {
        background-color: #000000;
        color: #FFFFFF;
      }
    }
  }
}

.email-section {
  background-color: #A8FF35;

  .email-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 8.75rem 0;

    .email-title {
      font-size: 35px;
      font-weight: black;
      line-height: 80.64px;
      text-align: center;
      color: #000000;

      @media (min-width: 768px) {
        font-size: 72px;
      }
    }

    .email-subtitle {
      font-size: 35px;
      font-weight: 800;
      line-height: 80.64px;
      text-align: center;
      color: #87D322;

      @media (min-width: 768px) {
        font-size: 72px;
      }
    }

    .email-button {
      padding: 2.5rem 0;

      button {
        width: 180px;
        height: 57px;
        padding: 16px 32px;
        background-color: #000000;
        border-radius: 40px;
        font-size: 18px;
        font-weight: bold;
        color: #FFFFFF;
        text-align: center;
      }
    }
  }
}

