.hero {
  padding: 101px 0;
  background-color: black;
  color: white;
  &__topic {
    font-size: 72px;
    font-weight: 900;
    line-height: 80.64px;
    text-align: center;
  }

  &__info {
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    text-align: center;
    color: #8b8b8b;
    padding-top: 24px;
    padding-bottom: 40px;
  }
  & button {
    background: #a8ff35;
    padding: 16px 32px;
    border-radius: 90px;
    display: block;
    margin: auto;
    font-size: 18px;
    font-weight: 700;
    line-height: 25.2px;
    text-align: center;
    transition: 1.7s;
  }

  & button:hover {
    background-color: rgb(152, 129, 244);
  }


  &__wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 110px;
    margin-top: 92px;
  }
   
  &__card {
    display: flex;
    align-items: center;
    gap: 15px;
    font-family: Roboto;
    font-size: 23.81px;
    font-weight: 400;
    line-height: 27.9px;
    text-align: center;
    color: white;
    padding: 25px 38px;
    position: relative;
    background-color: #181818;
    max-width: 326px;


    &__remove {
      position: absolute;
      background: linear-gradient(
        270deg,
        #181818 53.65%,
        rgba(24, 24, 24, 0.8) 100%
      );
      width: 84.65px;
      height: 100%;
      right: 0;
      gap: 0px;
      opacity: 0px;
    
      
      & img {
            display: block;
         margin: auto;
         margin-top: 33px;
         margin-right: 10px;
      }
  
    }
  }
}

@media (max-width: 1050px)  {
  .hero {
    &__wrapper {
        grid-template-columns: repeat(2, 1fr);
        gap: 19px;
        max-width: 320px;
        margin: auto;
        margin-top: 92px;

    }

    &__topic {
        font-size: 36px;
        line-height: 40.64px;
    }
}  
}


@media (max-width: 750px) {
    .hero {
        &__wrapper {
            grid-template-columns: repeat(1, 1fr);
            gap: 19px;
            max-width: 320px;
            margin: auto;
            margin-top: 92px;

        }

        &__topic {
            font-size: 36px;
            line-height: 40.64px;
        }
    }

}